modules = ["nodejs-24"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
VITE_AI_CHAT_KEY = ""
VITE_GOOGLE_CLIENT_ID = "240771472584-ijemrng2hgdka003u7dgq5e0gsaa13o8.apps.googleusercontent.com"
VITE_SUPABASE_PUBLISHABLE_KEY = "sb_publishable_q5nXl5vnp8pdbp064mvang_-VU750NY"
VITE_SUPABASE_URL = "https://hivmapciasjbnyyisjyd.supabase.co"
